.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.8em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    overflow-x: auto;
}

.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
    vertical-align: top;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

h1 {
    font-size: 1.5em;
    font-family: sans-serif;
    color: #009879;
    padding: 10px;
    background-color: #f3f3f3;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.styled-button {
    display: inline-block;
    padding: 10px 15px;
    font-size: 1em;
    font-family: sans-serif;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: 2px solid #009879;
    color: #009879;
    background-color: #ffffff;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.styled-button:hover {
    background-color: #009879;
    color: #ffffff;
    border-color: #ffffff;
}